
@font-face {
    font-family: 'itim';
    src: url('../assets/fonts/itim-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/itim-regular-webfont.woff') format('woff'),
         url('../assets/fonts/Itim-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}
