footer {
    margin-top: 5vw;
    height: 15rem;
    text-align: right;
    
    
    .container{
        background-color: $color-primary;
        border-radius: .5rem;
    }
    
    p { margin-top: 7rem;
        color: $font-color-primary;
        font-size: $font-size-default;
        margin-right: 2rem;
        
        a {
            color: $font-color-primary;
        }
    }
}