
.nav {
    display: flex;
    justify-content: space-between;
    width: 4vw;
    align-items: center;

    @media (max-width: 500px) {

        flex-direction: column;
        .nav__item{margin-bottom: 2rem;}
        }
   

    &__item {
        color: $color-secondary;
        font-size: $font-size-nav;
        text-decoration: none;
        position: relative;
        &:hover {
            color: $color-secondary;
            animation: toTop;
            animation-duration: 1s;
        }
    }
}