
#sobre {
    
    .container {
        background-color:$font-color-primary;
        border-radius: .5rem;
        margin: 0 auto;
        padding: 0 2rem 2rem;
        max-width: 90vw;
       
        

    }

    article {
        
        p {
            font-size: $font-size-default;
            color: $color-primary;
        }
    }
}