#como-funciona {

    .container{
        background: $font-color-primary;
        border-radius: .5rem;
    }
    
    .steps {
        align-items: center;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
    
        &__item {
            margin: 1rem;
            text-align: center;


            img{ min-width: 100px;
            max-width: 150px;}
            span {
                color: $color-secondary;
            }
            
            h3{font-size: 1.8rem;}
        }
    
    }  }